<div class="contenedor-busqueda">
    <div class="busqueda-title">
        <h2>Busqueda de inmuebles</h2>
        <mat-form-field appearance="outline">
            <mat-label>Termino de búsqueda</mat-label>
            <input matInput onchange="buscar()" [(ngModel)]="this.filtro" type="text" placeholder="Termino de búsqueda">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        <button (click)="buscar()" class="btn btn-dark m-3 p-3">Buscar</button>
    </div>
    <div class="resultados">
        <div *ngFor="let inmueble of inmuebles" class="inmueble-container">
            <img [src]="inmueble.imagen" alt="">
            <div  class="inmueble-info">
                <div class="extra-info">
                    <div class="inmueble-estado" [ngClass]="getEstadoClase(inmueble)">
                        {{(inmueble.estado == 'Vendido' || inmueble.estado == 'Arrendado') ? 'No disponible' : inmueble.estado}}
                    </div>
                    <div class="inmueble-ubicacion">
                        <mat-icon>location_on</mat-icon>
                        {{inmueble.ciudad.ciudad}}, {{inmueble.ciudad.departamento}}
                    </div>
                </div>
                <p>{{inmueble.descripcion}}</p>
                <div class="text-info">
                    <p>Precio</p>
                    <span>${{inmueble.precio}}</span>
                </div>
                <div class="caracteristicas">
                    <div>
                        <p>Tipo</p>
                        <span>{{inmueble.tipo}}</span>
                    </div>
                    <div>
                        <p>Habitaciones</p>
                        <span>{{inmueble.habitaciones}}</span>
                    </div>
                    <div>
                        <p>Estrato</p>
                        <span>{{inmueble.estrato}}</span>
                    </div>
                    <div>
                        <p>Negocio</p>
                        <span>{{inmueble.negocio}}</span>
                    </div>
                </div>
                <button (click)="toCita()" class="agendar-cita">
                    <mat-icon>email</mat-icon>
                    Agendar cita
                </button>
            </div>
        </div>
        <div class="inmueble-container">
            <img src="../../../../assets/apartamento.jpg" alt="">
            <div class="inmueble-info">
                <div class="extra-info">
                    <div class="inmueble-estado no_disponible">No disponible</div>
                    <div class="inmueble-ubicacion">
                        <mat-icon>location_on</mat-icon>
                        Bogota D.C
                    </div>
                </div>
                <p>Apartamento en Venta, CHAPINERO LA SALLE</p>
                <div class="text-info">
                    <p>Precio</p>
                    <span>$365.000.000</span>
                </div>
                <div class="caracteristicas">
                    <div>
                        <p>Tipo</p>
                        <span>Apartamento</span>
                    </div>
                    <div>
                        <p>Habitaciones</p>
                        <span>3</span>
                    </div>
                    <div>
                        <p>Estrato</p>
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
