<div class="contenedor-busqueda w-100">
    <div class="busqueda-title">
        <h2>Busqueda de inmuebles</h2>
        <mat-form-field appearance="outline">
            <mat-label>Termino de búsqueda</mat-label>
            <input matInput type="text" placeholder="Termino de búsqueda">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
    </div>
    <div class="resultados">
        <div class="inmueble-container"></div>
        <div class="inmueble-container"></div>
        <div class="inmueble-container"></div>
        <div class="inmueble-container"></div>
        <div class="inmueble-container"></div>
    </div>
</div>
