<section>
    <h2 class="text-center">Gestionar Clientes</h2>
    <div class="d-flex p-3 justify-content-left gap-2">
        <button (click)="changeMode('list')" class="btn btn-primary p-2">
          <mat-icon>list</mat-icon>
          Ver todos los clientes
        </button>
        
    </div>

    <app-persona-list [changeMode]="this.changeMode" [filtro]="filtro" *ngIf="this.mode == 'list'">

    </app-persona-list>
    <app-persona-edit [changeMode]="this.changeMode" *ngIf="this.mode == 'edit'">

    </app-persona-edit>
    
</section>

<section class="mt-5">
  <h2>Citas programadas</h2>
  <div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TIPO</th>
                        <th>NOMBRES</th>
                        <th>EMAIL</th>
                        <th>TELEFONO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let cita of citas" class="text-left">
                        <td>{{cita.idCita}}</td>
                        <td>{{cita.fecha}}</td>
                        <td>{{cita.correo}}</td>
                        <td>{{cita.telefono}}</td>
                        <td>{{cita.motivo}}</td>
                        <td>Pendiente</td>
                        <td>
                            <button (click)="Delete(cita)" class="btn btn-success" style="margin-left: 1px;">
                              <mat-icon>check</mat-icon>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <h5
                *ngIf="this.citas.length === 0 "
                class="textoalerta text-center font-weight-bold text-secondary">
                Todavía no hay {{filtro == 'clientes' ? 'clientes' : 'personas'}}
            </h5>
        </div>
    </div>
</div>
</section>
