<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        <th>UBICACION</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sucursal of sucursales" class="text-left">
                        <td>{{sucursal.id_sucursales}}</td>
                        <td>{{sucursal.nombreSucursal}}</td>
                        <td>{{sucursal.direccion}}</td>
                        <td>{{sucursal.telefono}}</td>
                        <td>{{sucursal.id_ubicacion}}</td>
                        <td>
                            <button (click)="this.changeMode('edit', false)"  class="btn btn-warning">Editar</button>
                            <button (click)="Delete(sucursal)" class="btn btn-danger" style="margin-left: 1px;">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5 
                *ngIf="this.sucursales.length === 0" 
                class="textoalerta text-center font-weight-bold text-secondary">
                Todavía no hay sucursales
            </h5>
        </div>
    </div>
</div>