<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DESCRIPCION</th>
                        <th>PRECIO</th>
                        <th>TIPO</th>
                        <th>ESTADO</th>
                        <th>HABITACIONES</th>
                        <th>ESTRATO</th>
                        <th>UBICACION</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let inmueble of inmubles" class="text-left">
                        <td>{{inmueble.id_inmueble}}</td>
                        <td>{{inmueble.descripcion}}</td>
                        <td>{{inmueble.precio}}</td>
                        <td>{{inmueble.tipo}}</td>
                        <td>{{inmueble.estado}}</td>
                        <td>{{inmueble.habitaciones}}</td>
                        <td>{{inmueble.estrato}}</td>
                        <td>{{inmueble.id_ubicacion}}</td>
                        <td>
                            <button (click)="changeMode('edit')" class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger" style="margin-left: 1px;">Borrar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <h5
                *ngIf="this.inmubles.length === 0"
                class="textoalerta text-center font-weight-bold text-secondary">
                Todavía no hay inmubles
            </h5>
        </div>
    </div>
</div>s