<main class="main">
    <div class="side-bar">
      <span class="logo">
        <img src="/assets/LOGO.jpeg" alt="">
      </span>

      <ul class="sections-list">
        <li>
          <a routerLink="gestionar-clientes" routerLinkActive="ruta" class="ruta">
            <mat-icon>manage_accounts</mat-icon>
            Gestionar Clientes
          </a>
        </li>
        <li>
          <a routerLink="gestionar-inmuebles" routerLinkActive="ruta">
            <mat-icon>apartment</mat-icon>
            Gestionar Inmuebles
          </a>
        </li>
        <li>
          <a routerLink="analisis-riesgo" routerLinkActive="ruta">
            <mat-icon>query_stats</mat-icon>
            Estudios de Riesgo
          </a>
        </li>
        <li>
          <a routerLink="comisiones" routerLinkActive="ruta">
            <mat-icon>attach_money</mat-icon>
            Comisiones
          </a>
        </li>
      </ul>
      <ul class="sections-options">
        <li>
          <a (click)="Salir()"><mat-icon>logout</mat-icon>Salir</a>
        </li>
      </ul>
    </div>
    <div class="main-screen">
      <div class="dashboard-header">
        <div class="header-title">
          <h3>Dashboard Principal</h3>
          <p>Aqui puedes ver todas las funciones de la plataforma</p>
        </div>
        <div class="search">
          <input placeholder="Buscar" type="text">
        </div>
      </div>
      <div class="dashboard-body">
        <router-outlet> </router-outlet>
      </div>
    </div>
</main>

