:host {
    min-width: 600px;
}

:host {
    min-width: 600px;
}


section {
    width: 100%;
    height: fit-content;
    min-height: 400px;
    border-radius: 15px;
    border: 1px solid #989898;
    padding: 20px;
}
section h2 {
    text-align: center;
    color: black;
    font-weight: 400;
}

.search input {
    max-width: 120px;
    border: 0;
    border-radius: 20px;
    background: #F3F3F3;
    outline: none;
    padding: 15px 20px;
}

button {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}