<h3 *ngIf="this.submited">Cita enviada!</h3>
<div class="contact-form">
    <h2 class="text-center">Contactar</h2>
    <form>
        <div class="form-group">
            <label for="fecha">Fecha de avalúo</label>
            <input type="date" id="fecha" [(ngModel)]="cita.fecha" name="fecha" required>
        </div>

        <div class="form-group">
            <label for="email">Correo electronico: </label>
            <input type="email" id="email" name="email" [(ngModel)]="cita.correo" value="contact@moqups.com">
        </div>
        <div class="form-group">
            <label for="telefono">Numero de telefono: </label>
            <input type="text" id="telefono" name="telefono" [(ngModel)]="cita.telefono" value="Product Manager">
        </div>
        <div class="form-group">
            <label>Razon de consulta</label>
            <div class="radio-group">
                <label><input type="radio" name="razon" [(ngModel)]="cita.motivo" value="ArrendarPropietario" checked> Arrendar mi propiedad</label>
                <label><input type="radio" name="razon" [(ngModel)]="cita.motivo" value="Vender"> Vender mi propiedad</label>
                <label><input type="radio" name="razon" [(ngModel)]="cita.motivo" value="Comprar"> Comprar propiedad</label>
                <label><input type="radio" name="razon" [(ngModel)]="cita.motivo" value="Arrendar"> Arrendar propiedad</label>
            </div>
        </div>

        
        <div class="form-group">
            <button (click)="Guardar()" type="submit" class="submit-btn">Consulta</button>
        </div>
    </form>
</div>

