<main class="main">
    <div class="side-bar">
      <span class="logo">
        <img src="/assets/LOGO.jpeg" alt="">
      </span>

      <ul class="sections-list">
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>Gestionar usuarios</a>
        </li>
        <li>
          <a>Inmuebles</a>
        </li>
        <li>
          <a>Settings</a>
        </li>
      </ul>

      <ul class="sections-options">
        <li>
          <a>Ayuda</a>
        </li>
        <li>
          <a (click)="Salir()">Salir</a>

        </li>
      </ul>
    </div>
    <div class="main-screen">
      <div class="dashboard-header">
        <div class="header-title">
          <h3>Dashboard Principal</h3>
          <p>Aqui puedes ver todas las funciones de la plataforma</p>
        </div>
        <div class="search">
          <input placeholder="Buscar" type="text">
        </div>
      </div>
      <div class="dashboard-nody">
        <div class="ventas"></div>
        <div class="comisiones"></div>
        <div class="nuevos-clientes"></div>
        <div class="citas-programadas"></div>
        
      </div>
      <div class="d-flex p-3 justify-content-center gap-5">
        <button class="btn btn-primary">Ver todos los clientes</button>
        <button class="btn btn-primary">Agregar nuevo cliente</button>
      </div>


    </div>

   
</main>
