<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ESTADO</th>
                        <th>INMUEBLE</th>
                        <th>FECHA</th>
                        <th>RESULT. LISTA CLINTON</th>
                        <th>RESULT. CENTRAL</th>
                        <th>CERTIFICADO LIBERTAD</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let estudio of estudios" class="text-left">
                        <td>{{estudio.id_estudio}}</td>
                        <td>{{estudio.estado}}</td>
                        <td>{{estudio.inmueble.descripcion}}</td>
                        <td>{{estudio.fechaEstudio}}</td>
                        <td>{{estudio.resultadoListaClinton}}</td>
                        <td>{{estudio.resultadoCentral}}</td>
                        <td>{{estudio.certificadoLibertad}}</td>
                        <td>
                            <button (click)="this.imprimir(estudio)" class="btn btn-success">Aceptar</button>
                            <button (click)="changeMode('edit')" class="btn btn-danger">Rechazar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <h5
                *ngIf="this.estudios.length === 0"
                class="textoalerta text-center font-weight-bold text-secondary">
                Todavía no hay estudios
            </h5>
        </div>
    </div>
</div>