.main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #F3F3F3;
}

h3 {
    font-size: 30px;
}

h3, p {
    margin: 0px;
}

p {
    color: #888888;
}


.side-bar {
    background-color: #570E28;
    max-width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    align-content: space-between;
    padding: 40px 40px;
    color: #fff;
}

.logo,.sections-list, .sections-options{
    width: 100%;
}

.sections-options {
    border-top: 1px #444444 solid;
}

.logo {

    font-weight: bold;
}

.logo img {
    width:100%;
    object-fit:contain;
}


ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul li {
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding-block: 10px;
}

.main-screen {
    height: 100%;
    width: 100%;


    color: #fff;
}


.main-screen {
    margin-left: 220px; /* Same width as the sidebar */
    height: 100vh;
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
}

ul li a {
    display: flex;
    gap: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s;
    text-decoration: none;
}

.ruta {
    background-color: #2203036e;
    transition: all .2s;
}

ul li :hover{
    background-color: #2203036e;
    transition: all .2s;
}

.dashboard-header {
    background-color: #FFF;
    width: 100%;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}


a {
    cursor: pointer;
}
.dashboard-body {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    padding-block: 40px; /* To add some padding at the bottom */
}



.dashboard-body section {
    min-width: 70%;
    height: fit-content;
    border-radius: 25px;
    border: 1px solid #570E28;
    padding: 20px;
}
.dashboard-body section h2 {
    text-align: center;
}

.dashboard-body:first-child {
    width: 100%;
}
.dashboard-body:nth-child(2) {
    width: 100%;
}

.search input {
    max-width: 120px;
    border: 0;
    border-radius: 20px;
    background: #F3F3F3;
    outline: none;
    padding: 15px 20px;
}

button {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
