<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TIPO</th>
                        <th>NOMBRES</th>
                        <th>EMAIL</th>
                        <th>TELEFONO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let persona of personas" class="text-left">
                        <td>{{persona.id_personas}}</td>
                        <td>{{persona.tipoPersona.tipo.toString()}}</td>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.email}}</td>
                        <td>{{persona.telefono}}</td>
                        <td>
                            <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
                            <button (click)="Delete(persona)" class="btn btn-danger" style="margin-left: 1px;">Borrar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <h5
                *ngIf="this.personas.length === 0 "
                class="textoalerta text-center font-weight-bold text-secondary">
                Todavía no hay {{filtro == 'clientes' ? 'clientes' : 'personas'}}
            </h5>
        </div>
    </div>
</div>