:host {
    min-width: 800px;
}


section {
    min-width: 80%;
    height: fit-content;
    border-radius: 25px;
    border: 1px solid #570E28;
    padding: 20px;
}
section h2 {
    text-align: center;
    color: black;
}

.search input {
    max-width: 120px;
    border: 0;
    border-radius: 20px;
    background: #F3F3F3;
    outline: none;
    padding: 15px 20px;
}

button {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}