<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>:: Editar Sucursal ::</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="nombreSucursal">Nombre sucursal: </label>
                    <input type="text" class="form-control"  name="nombreSucursal">
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion: </label>
                    <input type="text" class="form-control"  name="direccion">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono: </label>
                    <input type="email" class="form-control" name="telefono">
                </div>
                <div class="form-group">
                    <label for="ubicacion">Ubicacion geografica: </label>
                    <input type="text">
                </div>
                <button class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
